<div class="d-flex my-5 justify-content-center gap-5">
    <div class="d-flex flex-column gap-3">
        <%= render 'story/story_list' %>
        <div class="flex flex-column ">
            <%= current_user.posts.each do |p| %>
                <%= render 'posts/post', post: p %>
            <% end %>
        </div>
    </div>
    <%= render 'suggestions/suggestion_list' %>
</div>

